td,th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ff3399;
  color: white;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff3399;
    color: white;
}
input[type=text]:focus {
    border: 3px solid #555;
}
